_output
.idea
*.log
tags
*.swp
**/*.pem
**/*.csr
*.db
womtool.jar
mysql-data
*.sqlite3
.vscode

conf/apiserver-local.yaml
conf/**-local.yaml
docker-compose-local.yaml
web/build/
web/node_modules/
web/.eslintcache
**/*.DS_Store
